Binaries
DerivedDataCache
Intermediate
Saved
Build

# Unless we wanna share editor settings and project settings
Config

# GW - Protoype asset folders
Content/Assets/UE_Proto

.idea
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace